/* barra de navegacion */
.body {
  background-image: linear-gradient(
    to right top,
    #d5e9e9,
    #baefef,
    #99f5f5,
    #6efafa,
    #00ffff
  );
}

.nav-link1 {
  font-family: "Josefin Sans", sans-serif;
  color: red;
  text-transform: uppercase;
  font-weight: 350;
  margin: 60px;
  text-decoration: none;
  align-items: center;
  display: inline-block;
}
.nav-link2 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: 350;
  margin: 60px;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  padding-right: 2rem;
}

.nav-item {
  display: inline-block;
  position: relative;
  font-size: 14px;
  margin-right: 1rem;
}
.menu {
  background-image: linear-gradient(
    to right top,
    #021027,
    #001a44,
    #002163,
    #002781,
    #002a9e,
    #043db7,
    #0551d0,
    #0065ea,
    #008afc,
    #00a8ff,
    #00c4f9,
    #02dcf0
  );
}
.navbar {
  background-image: linear-gradient(
    to right top,
    #021027,
    #001a44,
    #002163,
    #002781,
    #002a9e,
    #043db7,
    #0551d0,
    #0065ea,
    #008afc,
    #00a8ff,
    #00c4f9,
    #02dcf0
  );
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* container */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

/* Media Queries 
@media (min-width: 1100px) {
  .display-2--intro {
    font-size: 3rem;
  }
  
  
  .display-2--description {
    font-size: 1.3rem;
  }
  
  .item {
    font-size: 1.5rem;
  }
  .item-1 {
    font-size: 1.5rem;
  }
  .grid {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .grid {
    font-size: 0.8rem;
  }
  .row,
  .menu,
  .lista {
    flex-direction: column;
  }
  .display-2,
  .display-2--description {
    width: 100%;
  }
  .img {
    @include sizes(20rem, 10rem);
  }
  .imagenes {
    @include sizes(5rem, 5rem);
  }
  .divOne {
    width: 5rem;
    height: 5rem;
    padding: 5rem;
    align-items: center;
  }
}
@media (max-width: 1099px) {
  .imagenes {
    width: 6rem;
    height: 6rem;
  }
  .row,
  .menu,
  .lista {
    flex-direction: column;
  }
  .divOne:hover {
    width: 3rem;
    height: 3rem;
    padding: 3rem;
  }
  .btn-sm {
    flex-direction: column;
    align-items: flex-start;
  }
}
*/
